.numpad-result h4 {
    position: absolute;
    width: 100%;
    top: 50%;
    line-height: 40px;
    font-size: 30px;
    margin-top: -20px;
}

.numpad-result {
    height: 30%;
    position: relative;
}

.numpad-numbers {
    height: 70%;
}

.numpad-numbers .row {
    height: 20%;
}